// **************************************
// brand colors 
// **************************************
// $b20: hsl(176, 39%, 20%);
// $b40: hsl(176, 39%, 40%);
// $b60: hsl(176, 39%, 60%);
// $b80: hsl(176, 39%, 80%);

// **************************************
// adecco colors
// **************************************
// $b20: hsl(358, 85%, 20%);
// $b40: hsl(358, 85%, 40%);
// $b60: hsl(358, 85%, 60%);
// $b80: hsl(358, 85%, 80%);

// **************************************
// special counsel colors
// **************************************
$b20: hsl(208, 24%, 20%);
$b40: hsl(208, 24%, 40%);
$b60: hsl(208, 24%, 60%);
$b80: hsl(208, 24%, 80%);

// reiterate colors for style guide 
$colors-brand: $b20,$b40,$b60,$b80 !default;

// **************************************
// neutral colors 
// **************************************
$n00: hsl(0, 0%, 0%); // black
$n20: hsl(0, 0%, 20%);
$n40: hsl(0, 0%, 40%);
$n60: hsl(0, 0%, 60%);
$n80: hsl(0, 0%, 80%);
$n100: hsl(0, 0%, 100%); // white

// reiterate colors for style guide 
$colors-neutral: $n00,$n20,$n40,$n60,$n80,$n100 !default;