// *****************************
// # set typography
// *****************************
$font-size: 16px !default;
$line-height: 1.2 !default;
$font-serif: serif;
$font-sans: sans-serif;
$font-cursive: cursive;
$font-monospace: monospace;

$h1-size: 35px;
$h1-line: 1.2;
$h1-weight: bold;
$h1-transform: uppercase;
